main {
  display: flex;
  width: 40%;
  height: 400px;
  background-color: #ecf0f1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 0 0 1em #7f8c8d;
  padding: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}